.schedule-selector {
  display: inline-block;
  background-color: #FC8531;
  border-radius: 5px;
  margin-right: .5em;
  margin-top: .5em;
  padding: .5em;
}

.schedule-selector p{
  display: block;
  line-height: 1.5em;
}

.schedule-selector-title {
  position: relative;
  margin: 0;
  color: black;
}

.schedule-selector-content {
  margin: 0;
  color: #FC8531;
  font-weight: bolder;
  color: white;
}

.schedule-selector.touch {
  background-color: rgba(252, 133, 49, .5);
}

.touch .schedule-selector-title {
  color: #666;
}