.schedule-popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20em;
  background-color: white;
  z-index: 1001;
  overflow: hidden;
}

.schedule-popup.fadein {
  -webkit-animation-name: amSlideUpIn;
          animation-name: amSlideUpIn;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
          animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.schedule-popup.fadeout {
  visibility: hidden;
}

.schedule-popup.fadeout * {
  display: none
}

.schedule-popup-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20%;
  box-sizing: border-box;
  margin-top: 1em;
}

.schedule-popup-photo i {
  margin: auto;
}

.schedule-popup-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  padding: 1em 0;
  margin: 0 1em;
}

.schedule-popup-infos p {
  display: block;
  position: relative;
  height: 1.15em;
  margin: auto;
  color: #FC8531;
  font-weight: bolder;
}

.schedule-popup-infos p:first-child,
.schedule-popup-infos p:last-child {
  color: #666;
  font-size: .8em;
  font-weight: normal;
}

/* fa组件修改样式 */
.schedule-popup-photo .fa-fw {
  width: 1em;
}

.schedule-popup .fa-inverse {
  color: #666;
}

/* 淡入淡出 */
@-webkit-keyframes schedule-fadeIn {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 20em;
    opacity: 1;
  }
}

@keyframes amSlideUpIn {
  0% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}