.store-popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc((100% - 20em) / 2);
  right: calc((100% - 20em) / 2);
  width: 20em;
  height: 20em;
  border-radius: 5px;
  background-color: white;
  z-index: 1001;
  overflow: hidden;
}

@keyframes amZoomIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.store-popup.fadein {
  opacity: 0;
  -webkit-animation-name: amZoomIn;
          animation-name: amZoomIn;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
          animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
          animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.store-popup.fadeout {
  visibility: hidden;
}

.store-popup.fadeout * {
  display: none
}

.store-popup-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  box-sizing: border-box;
  margin: 1em;
}

.store-popup-photo > i,
.store-popup-photo > p {
  margin: auto;
}

.store-popup-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
  margin: 0 1em;
  border-top: 1px solid #ddd;
}

.store-popup-infos p {
  display: block;
  position: relative;
  line-height: 1.15em;
  padding-left: 1.5em;
  margin: 0;
}

/* 保证换行的时候p左端对齐 */
.store-popup-infos p > i {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5em;
  height: 100%;
}

.store-popup-close {
  position: absolute;
  right: 0;
  top: 0;
}

/* fa组件修改样式 */
.store-popup-infos .fa-fw {
  width: 1.5em;
}

.store-popup .fa-inverse {
  color: #666;
}