.app-footer-inner {
  display: flex;
  align-content: flex-end;
  justify-content: center;
  padding: 1em 0;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  left: 1em;
  width: calc(100vw - 2em);
  box-sizing: border-box;
  z-index: 9;
  background: white;
}

.app-footer {
  height: calc(5em + 1px);
}

.app-footer-button {
  font-size: 1em;
  height: 3em;
  line-height: 3em;
  background-color: #FC8531;
  color: white;
}

.app-footer-button:first-child:nth-last-child(2) {
  background-color: white;
  color: #FC8531;
}

.app-footer-button.am-button-active:first-child:nth-last-child(2) {
  background-color: #FC8531;
  opacity: .5;
  color: white;
}

.app-footer-button:first-child:nth-last-child(2),
.app-footer-button:first-child:nth-last-child(2) ~ a {
  margin: 0 5%;
  width: 35%;
}

.app-footer-button:first-child:nth-last-child(1) {
  width: 50%;
}

.app-footer-button.am-button-active:first-child:nth-last-child(1),
.app-footer-button.am-button-active:last-child:nth-child(2) {
  background-color: #FC8531;
  opacity: .5;
}