.copyright {
  margin: 0.5em;
}

.copyright-button-appoint {
  background: #FC8531;
  width: 50%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 4em;
}

.copyright-box-agree {
  width: fit-content;
  margin: auto;
  text-align: center;
}

.am-checkbox.am-checkbox-checked .am-checkbox-inner {
  background: #FC8531;
  border-color: #FC8531;
}