.copyright {
  margin: 0.5em;
  border-top: 1px solid #ddd;
}

.copyright-button-appoint {
  background: #FC8531;
  width: 50%;
  margin: 1em auto;
  margin-bottom: 1.5em;
  color: white;
}

.copyright-box-agree {
  width: fit-content;
  margin: auto;
  text-align: center;
  margin-top: 2em;
}