.itext-input {
  line-height: 2em;
  width: 100%;
  border-radius: 0.25em;
  border-color: #FC8531;
  border-style: solid;
  padding: .5em;
  padding-right: 2em;
  box-sizing: border-box;
  z-index: 1;
}

.itext-input-hidden {
  padding-right: .5em;
  border-color: rgba(221, 221, 221, .5);
}

.itext-inputclear {
  position: relative;
}

.itext-clear-wrapper {
  position: absolute;
  top: 2px;
  left: calc(100% - 1.5em - .5em - 2px);
  width: 6em;
  height: 9em;
  transform: scale(calc(1/3));
  transform-origin: 0 0;
}

.itext-clear {
  position: absolute;
  top: calc((9em - 3em) / 2);
  left: calc(4.5em - 3em);
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #ccc;
}

.itext-clear-hidden {
  display: none;
}

.itext-clear::before, .itext-clear::after {
  display: block;
  content: '';
  position: absolute;
  width: 80%;
  left: 10%;
  top: calc((100% - .2em) / 2);
  height: .2em;
  background: #ffffff;
}

.itext-clear::before {
  transform: rotate(45deg);
}

.itext-clear::after {
  transform: rotate(-45deg);
}