.service-item {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 1em;
  height: calc(4em + 2px);
  margin-top: 1em;
  width: 45%;
  transition: box-shadow .2s;
}

.ser-item-imgframe {
  display: inline-flex;
  flex-flow: column;
  justify-content: center;
  width: 4em;
  height: 4em;
  background: white;
  margin: 1px;
  border-radius: 1em;
  box-sizing: border-box;
}

.ser-item-img {
  display: block;
  margin: auto;
  height: calc(3.5em - 2px - .5em);
}

.ser-item-title {
  display: inline-block;
  margin: auto;
  color: #666;
}

.service-item.touch {
  box-shadow: 3px 3px 5px #FC8531;
}