.store {
  display: flex;
  justify-content: space-between;
  background-color: rgba(221, 221, 221, .5);
  border-radius: 5px;
}

.store-marker.fa-inverse {
  color: #666;
}

.store-name {
  margin: .5em;
  line-height: 1.5em;
  color: #FC8531;
  font-weight: bolder;
}

.store-detail {
  margin: .5em;
  line-height: 1.5em;
  color: #666;
}