.store {
  display: flex;
  justify-content: space-between;
  background-color: #FEFCEC;
}

.store-detail i.fa-inverse {
  color: #666;
}

.store-name {
  margin: .5em;
  line-height: 1.5em;
  color: #FC8531;
  font-weight: bolder;
}

.store-detail {
  margin: .5em;
  line-height: 1.5em;
  color: #666;
}